description = "Site head partial"
==
{##}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if this.page.meta_description %}
    <meta name="description" content="{{ this.page.meta_description }}">
    {% endif %}

    {% if this.theme.app_icon %}
        {% set favicon = this.theme.app_icon|media %}
    {% else %}
        {% set favicon = "assets/images/default/favicon.svg"|theme %}
    {% endif %}

    <link rel="icon" href="{{ favicon }}">
    <link rel="apple-touch-icon" href="{{ favicon }}">


    <title>{{ this.page.title }} → {{ this.theme.app_name }}</title>
    <script prefetch src="{{ ['@jquery'] | theme }}"></script>

    {% if this.theme.google_tag %}
        {% partial 'google/tag' tag = this.theme.google_tag %}
    {% endif %}

    {% styles %}
    <link rel="stylesheet" href="{{ 'assets/build/main.css' | theme }}">

    {% put scripts %}
        <script defer src="{{ 'assets/build/main.js' | theme }}"></script>
    {% endput %}

    {% placeholder head %}
</head>
