$orange-pantone: hsla(22, 98%, 49%, 1)
$army-green: hsla(52, 40%, 23%, 1)
$baby-powder: hsla(50, 60%, 98%, 1)
$alabaster: hsla(48, 28%, 93%, 1)
$roman-silver: hsla(227, 4%, 53%, 1)
$oxford-blue: hsla(225, 42%, 13%, 1)
$indigo-dye: hsla(203, 94%, 20%, 1)
$carolina-blue: hsla(200, 86%, 50%, 1)
$french-pink: hsla(337, 100%, 68%, 1)

$white: hsla(0, 0%, 100%, 1)
$white-bis: hsla(0, 0%, 98%, 1)
$white-ter: hsla(0, 0%, 96%, 1)

$black: hsla(0, 0%, 4%, 1)
$black-bis: hsla(0, 0%, 7%, 1)
$black-ter: hsla(0, 0%, 14%, 1)

$scheme-main: $alabaster

$primary: $army-green
$info: $carolina-blue
$link: $indigo-dye
$success: $indigo-dye
$warning: $orange-pantone
$danger: $french-pink
$light: $alabaster
$dark: $oxford-blue



$navbar-background-color: none
$navbar-height: 3.8rem

$hero-body-padding: 1rem
$footer-padding: 1.5rem 1.5rem 4.2rem
    

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat+Alternates:wght@300&family=Play:wght@800&family=Roboto+Slab:wght@300&display=swap')

$family-default: "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-sans-serif: 'Play', sans-serif !default
$family-monospace: 'Major Mono Display', monospace !default
$family-primary: 'Montserrat Alternates', serif !default
$family-secondary: 'Roboto Slab', serif !default

$body-font-size: 1.26em

@import 'bulma/bulma'
