$navbar-background-color: none
$navbar-padding-vertical: 0.25rem
$hero-body-padding: 1rem
$footer-padding: 1.5rem 1.5rem 4.2rem
.title:not(.is-spaced)+.subtitle
    margin-top: -1.5rem !important


@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat+Alternates:wght@300&family=Play:wght@700&family=Roboto+Slab:wght@300&display=swap')

$family-sans-serif: 'Roboto Slab', -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: 'Major Mono Display', monospace
$family-primary: 'Montserrat Alternates', sans-serif
$family-secondary: 'Play',  serif

$body-font-size: 1.23em !important


.title
    font:
        family: $family-secondary
.subtitle
    font:
        family: $family-sans-serif

@import 'bulma/bulma'