;;
==
{##}
<div class="hero is-fullheight">

    <div class="hero-head">
        <div class="container has-text-centered">
            <h2 class="title">{{ data.title }}</h2>
            <h4 class="subtitle">{{ data.subtitle }}</h4>
        </div>
    </div>

    <article class="hero-body">
        <div class="container has-text-centered">
            {{ data.main|raw }}
        </div>
    </article>

    <div class="hero-foot">
        {% if data.foot %}
        {% partial "blocks/footer" %}
        {% endif %}
    </div>

</div>