;;
==
{##}
<div class="hero is-fullheight">

    <div class="hero-head">
        <div class="container level has-text-centered">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="block">
                <h1 class="title is-family-sans-serif is-size-1">{{ data.title|_ }}</h2>
                <h3 class="subtitle is-family-secondary is-size-3">{{ data.subtitle|raw|_ }}</h4>
            </div>
        </div>
        </div>

    </div>

    <main class="hero-body">

        <div class="container">

                {{ data.main|raw }}
        </div>

    </main>

    <div class="hero-foot">
        {% if data.foot %}
        {% partial "blocks/footer" %}
        {% endif %}
    </div>

</div>
