##
description = "Default layout"

==
<!DOCTYPE html>
<html lang={{ this.site.locale|default(this.site.hard_locale) }}>
    <head>
        {% partial 'meta' %}
    </head>
    <body data-page-id={{ this.page.id }}>

        <!-- Header -->
        <header id="app-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <main id="app-content">
            {% page %}
        </main>

        <!-- Footer -->
        <footer id="app-footer">
            {% partial 'site/footer' %}
        </footer>
    </body>
</html>
