description = "fullpage layout"
==
<!DOCTYPE html>
<html lang="{{ this.site.locale }}">
    <head>
        {% partial 'app/meta' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">
        <div id="fullpage">
            <div class="hero is-fullheight">

                <!-- Header -->
                <header id="layout-header">
                TODO: fork header
                    {% partial 'site/header' %}
                </header>

                <!-- Content -->
                <section id="layout-content">
                    {% page %}
                </section>

                <!-- Footer -->
                <footer id="layout-footer">
                TODO: fork footer
                    {% partial 'site/footer' %}
                </footer>

            </div>
        </div>
        {% scripts %}
    </body>
</html>
