[staticPage]
useContent = 0
default = 1

==
{##}

{% partial 'html/head' this = this %}   

{repeater name="sections"  prompt="Add a section"}
    {variable name="title" type="text" label="Page top title" placeholder="Page title" span="left"}{/variable}
    {variable name="slug" type="text" placeholder="Page id" preset="title" span="right"}{/variable}
    {variable name="subtitle" label="Page top subtitle" span="full" type="text" size="small"}{/variable}
    {variable name="main" placeholder="This is the input for your great post" type="richeditor"}{/variable}
{/repeater}

<body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">

    {% partial 'components/navbar' theme = this.theme %}

    {% if sections %}
        {% for section in sections %}
            {% partial 'blocks/hero' hero = section %}
        {% endfor %}
    {% endif %}

</body>

{% partial 'html/foot' %}