;;
[viewBag]
==
{##}

{% if data %}
<aside class="menu">
  <div class="menu-label">
    <h5 class="title is-family-secondary is-uppercase is-size-5">
        {{ data.menuName|_ }}
    </h5>
    <address class="subtitle">
        <ul class="menu-list">
            <hr/>

            {% for item in data.menuItems() %}
            {# menuItem 

                type	        string	
                title	        string	
                url	            string	
                code	        string	
                isActive	    boolean	
                isChildActive	NULL	
                items	        array()	
                viewBag	        array()

            #}

                <li 
                {% if item.code %} 
                    id="code-{{ item.code }}" 
                {% endif %}

                role="presentation" 

                {% if item.isActive %}
                    class="is-active" 
                {% endif %}
                >
                    <a 
                    href="{{ item.url }}">
                    <h6 class="is-size-6">
                        {{ item.title }}
                    </h6>
                    </a>
                </li>
            {% endfor %}    
        </ul>
    </address>
  </div>
</aside>
{% endif %}