
==
{##}
<message class="message {{ message.theme }}">

  {% if message.header %}
  <div class="message-header">
    <p>{{ message.header }}</p>

    {% if message.button %}
    <button class="delete" aria-label="delete"></button>
    {% endif %}

  </div>
  {% endif %}

  <div class="message-body">
  {% if message.body %}
    {{ message.body }}
  {% else %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
  {% endif %}
  </div>

</message>