[staticMenu navBar]
code = "navBar"

[viewBag]
==
{##}

<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-paddingless" href="#">
                <object id="brand-logo" width="132" height="48" class="tile" data="{{ data.logo|media }}" /></object>
            </a>
            <a role="button" 
                class="navbar-burger" 
                aria-label="menu" 
                aria-expanded="false" 
                data-target="navMenu" 
                onclick="$('.navbar-menu').toggleClass('is-active')">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                
                {% for item in navBar.menuItems() %}
                    <a 
                    class="navbar-item {% if item.isActive %} is-active{% endif %}" 
                    href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
                {# <a href="#" class="navbar-item is-tab">Test</a> #}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link is-outlined is-rounded">Push the button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>