<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ ''|app }}">
                {% if this.theme.brand_navbar is not empty %}
                    <img src="{{ this.theme.brand_navbar|media }}" width="112" height="28">
                {% else %}
                    <span class="title">{{ this.theme.brand_title|default(this.site.name) }}</span>
                {% endif %}
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="Menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="Menu" class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
