[staticMenu shortcuts]
code = "shortcuts"

[staticMenu navbar]
code = "navbar"
==
<?
function onStart()
{
    $this['backendUrl'] = System::checkDebugMode() ? Backend::url('/') : null;
}
?>
==
{##}

<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/'|app }}">
                <figure class="image">
                    <img
                        src=
                            {% if this.theme.app_navbar %}
                                {{ this.theme.app_navbar|media }}
                            {% else %}
                                {{ "assets/images/svg/navbar-logo.svg"|theme }}
                            {% endif %}
                        alt={{ this.theme.app_name }}
                    />
                </figure>
            </a>
            <a role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navMenu"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active')">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu is-cemtered is-vcentered">
            <div class="navbar-start">
                {% for item in navbar.menuItems() %}
                <a
                    class="navbar-item is-family-secondary is-uppercase is-size-6 {% if item.isActive %}is-active{% endif %}"
                    href="{{ item.url }}">
                    {{ item.title }}
                </a>
                {% endfor %}
            </div>
            <div class="navbar-end">
                <p class="navbar-item">
                    {% if user %}
                        Hi, {{ user.name }}
                    {% else %}
                        {% if backendUrl %}
                                <a class="button is-warning" href="{{ backendUrl }}" target="backend">Get in</a>
                        {% endif %}
                        
                    {% endif %}
                </p>
                {% for item in shortcuts.menuItems() %}
                <a
                    class="navbar-item is-family-secondary is-uppercase is-size-6 {% if item.isActive %} is-active{% endif %}"
                    href="{{ item.url }}">
                    {{ item.title }}
                </a>
                {% endfor %}

            </div>
        </div>

    </div>
</nav>
